<div class="flexrow" style="height: 100%">
  <div class="flexcol flex3 inventory">
    {{> "systems/CoC7/templates/actors/parts/actor-inventory-items.html"}}
  </div>
    <div class="flexcol flex2 cash" style="border: 1px groove;">
        {{#unless data.flags.locked}}
        {{/unless}}
        <div class="flexrow cash-row">
            <label>{{localize 'CoC7.MonetarySpent'}}</label><input type="text" name="data.credit.spent" value="{{data.credit.spent}}">
        </div>
        <div style="flex:none">
            <textarea name="data.credit.assetsDetails" placeholder="{{localize 'CoC7.MonetaryAssetsDetails'}}" rows="4">{{data.credit.assetsDetails}}</textarea>
        </div>
        <label style="flex: initial;">{{localize 'CoC7.PossessionsNotes'}}</label>
        <div class="flex1">
            <textarea name="data.notes" placeholder="{{localize 'CoC7.PossessionsNotesHolder'}}">{{data.notes}}</textarea>
        </div>
    </div>
</div>
